@mixin button() {
    padding: 2px 4px;
    height: 35px;
    border-radius: 5px;
}

.header-container { 
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    box-sizing: border-box;

   
    .log-in-container {
        margin-left: 2em;
        background: #FFFFFF;
        display: flex;
        align-items: center;
        @include button;

        p{ margin-left: 5px; padding: 2px 4px;}
    }
    
}
.buttons-container{
    height: auto;
    display: flex;
    .guest-btn {
        @include button;
        background: white;
        border: none;
        border-radius: 5px;
    }
}

.logout-btn {
    display: flex;
    align-items: center;
    @include button;
}